<article>
    {% if post.image and post.image != '/assets/images/default-social.png' %}
        <div class="news_title mb-3" style="background-image: url('{{ post.image }}')">
            <h2 class="post-title"><a href="{{ post.url }}">{{ post.title }}</a></h2>
        </div>
    {% else %}
        <h2 class="post-title"><a href="{{ post.url }}">{{ post.title }}</a></h2>
    {% endif %}

    <div class="content">
        {{ post.excerpt }}
    </div>
</article>

<hr>
