---
layout: page
title: Statuto ILS
---

<h2>DENOMINAZIONE - SEDE - SCOPO - DURATA</h2>

<p>Art. 1 - E' costituita un'associazione denominata:</p>

<h3>"ILS - ITALIAN LINUX SOCIETY"</h3>

<p>Art. 2 - L'associazione ha sede in Favara (AG), via Aldo Moro n. 223.
    Con deliberazione dell'assemblea potranno essere istituite sedi e centri
    operativi secondari ed impianti distaccati.</p>

<p>Art. 3 - L'associazione non ha scopo di lucro e si propone di promuovere
    manifestazioni culturali e scientifiche per la divulgazione della
    cultura informatica.<br>
    Gli strumenti tecnologici, ed in particolare informatici e telematici,
    di cui Internet è l'esempio più evidente, stanno rapidamente sostituendo
    le forme tradizionali di comunicazione e di scambio di idee fra le
    persone, occupando sempre più il ruolo che un tempo era rappresentato
    dalla carta, dalla penna e più di recente dai mezzi di comunicazione di
    massa.<br>
    Le garanzie di equità e libertà in questo campo non sono più un
    fatto accademico o per addetti ai lavori, ma stanno assumendo una
    portata planetaria dalla quale dipenderanno sempre più anche libertà e
    democrazia, civiltà e benessere economico.<br>
    Pertanto, l'associazione in particolare si prefigge di:</p>

<ul>
    <li>favorire la diffusione del sistema operativo libero "GNU/Linux", in
        particolare nel mondo della scuola, negli enti pubblici, nell'industria
        ed in ogni altro settore in cui esso sia applicabile;</li>
    <li>favorire la libera circolazione delle idee e della conoscenza in campo
        informatico, utilizzando ogni mezzo di comunicazione, anche di massa;</li>
    <li>promuovere lo studio ed il libero utilizzo delle idee e degli
        algoritmi che sottendono al funzionamento dei sistemi informatici;</li>
    <li>promuovere l'applicazione del metodo sperimentale nello studio dei
        sistemi informatici;</li>
    <li>sviluppare studi e ricerche nel settore dell'informatica, conferendo
        anche borse di studio;</li>
    <li>organizzare convegni, manifestazioni e corsi di formazione, sia a
        livello nazionale che internazionale.</li>
</ul>
<p>Per il raggiungimento dei propri scopi l'associazione potrà istituire
    commissioni di lavoro ed organizzare, occasionalmente e nei limiti
    consentiti dalla legge, raccolte pubbliche di fondi in concomitanza di
    celebrazioni o ricorrenze.<br>
    Gli associati potranno, su loro richiesta scritta, approvata dal
    Consiglio Direttivo, utilizzare i mezzi informatici dell'associazione
    per svolgere attività finalizzate al conseguimento degli scopi
    associativi. I termini di copyright del materiale prodotto dovranno
    essere in linea con gli obiettivi dell'Associazione, ovvero dovranno
    prevedere la libera ridistribuzione di detto materiale, nel rispetto dei
    diritti di paternità spettanti agli autori originali.
</p>

<p>Art. 4 - La durata dell'associazione è determinata sino al 31 dicembre 2100.</p>

<h2>PATRIMONIO</h2>

<p>Art. 5 - Il patrimonio dell'associazione è costituito:</p>

<ol type="a">
    <li>dai beni mobili ed immobili che diverranno di proprietà dell'associazione;</li>
    <li>dai fondi derivanti da eventuali eccedenze di bilancio;</li>
    <li>da donazioni, legati e lasciti.</li>
</ol>
<p>Art. 6 - I proventi con i quali provvedere all'attività ed alla vita
    dell'associazione sono costituiti:</p>

<ol type="a">
    <li>dalle quote associative;</li>
    <li>dai redditi dei beni patrimoniali;</li>
    <li>dalle erogazioni e dai contributi di persone fisiche, enti ed
        associazioni, nonché da eventuali raccolte pubbliche di fondi compiute
        nel rispetto delle norme vigenti.</li>
</ol>
<h2>ASSOCIATI</h2>

<p>Art. 7 - I membri dell'associazione si suddividono in:</p>

<ul>
    <li>associati ordinari;</li>
    <li>associati sostenitori;</li>
    <li>associati onorari.</li>
</ul>
<p>Art. 8 - Sono associati ordinari le persone fisiche, le persone
    giuridiche o gli enti che verranno ammessi all'associazione a seguito di
    domanda, contenente l'esplicita indicazione del domicilio in cui devono
    essere loro inviate le comunicazioni e dichiarazione di piena conoscenza
    ed accettazione delle norme statutarie e degli obblighi che discendono
    dalla qualità di associato, indirizzata al Consiglio Direttivo che,
    valutata la regolarità della stessa, la sottoporrà alla ratifica
    dell'assemblea degli associati nella riunione immediatamente successiva
    di questa.<br>
    La domanda di ammissione dovrà essere accompagnata dal versamento di
    una quota, il cui importo sarà stabilito nel regolamento interno, per
    la copertura delle spese di istruzione della pratica. Tale quota non è
    restituibile, neppure in caso di mancata ratifica.
    L'ammissione ha effetto dalla data della deliberazione di ratifica
    dell'assemblea.<br>
    Possono essere ammessi, quali associati ordinari, anche i minori che
    abbiano compiuto il sedicesimo anno di età, dietro richiesta scritta dei
    soggetti che ne hanno la legale rappresentanza.
</p>

<p>Art. 9 - Sono associati sostenitori le persone fisiche, le persone
    giuridiche o gli enti che paghino una quota sensibilmente superiore a
    quella prevista per gli associati ordinari e che vi siano ammessi con
    tale qualifica dall'Assemblea degli associati. L'ammissione ha effetto
    dalla data della deliberazione dell'assemblea.</p>

<p>Art. 10 - Sono associati onorari le persone fisiche, le persone
    giuridiche o gli enti che rendano un particolare servizio
    all'Associazione e che vi siano ammessi con tale qualifica
    dall'Assemblea degli associati. L'ammissione ha effetto dalla data della
    deliberazione dell'assemblea.</p>

<p>Art. 11 - Gli associati ordinari e sostenitori sono tenuti al pagamento
    della quota associativa, differenziata secondo la categoria di
    appartenenza, che verrà fissata di anno in anno dal Consiglio Direttivo.<br>
    Gli associati sostenitori possono versare la quota, in tutto od in
    parte, anche mediante conferimenti di attività, beni e servizi, secondo
    i criteri stabiliti nel regolamento interno.<br>
    Gli associati onorari non sono tenuti al versamento di alcuna quota.
    Le quote associative annuali devono essere versate entro i termini
    previsti dal regolamento interno. In mancanza, l'associato non può
    esercitare il diritto di voto in assemblea, salva l'applicazione delle
    più gravi sanzioni previste per i casi di morosità.
    Le quote versate non sono in alcun modo ripetibili.</p>

<p>Art. 12 - Gli associati, indipendentemente dalla categoria di
    appartenenza, hanno parità di diritti, compreso quello di voto.<br>
    La partecipazione all'associazione non può essere temporanea.<br>
    La qualità di associato non è trasmissibile.</p>

<p>Art. 13 - La qualità di associato deve risultare da apposito Registro
    tenuto a cura del Consiglio Direttivo.<br>
    Tale qualità, oltre che per morte o per recesso da notificarsi con
    lettera raccomandata al Consiglio Direttivo entro la fine del mese di
    ottobre dell'anno in corso, si perde per esclusione deliberata dal
    Consiglio medesimo nei seguenti casi:</p>

<ol type="a">
    <li>negligenza nell'esecuzione delle funzioni affidate o mancato
        pagamento, anche parziale, delle quote associative per due anni
        consecutivi;</li>
    <li>violazione delle norme statutarie;</li>
    <li>condotta pregiudizievole per l'immagine dell'associazione o che
        ostacoli il perseguimento degli scopi della stessa.</li>
</ol>
<p>
    L'apertura di qualsiasi procedimento di esclusione deve essere
    immediatamente comunicata all'interessato.<br>
    L'associato colpito da provvedimento di esclusione può ricorrere al
    Collegio dei Revisori dei conti, fermo restando il suo diritto di
    ricorrere all'autorità giudiziaria.<br>
    L'associato che sia stato escluso dall'associazione può chiedere di
    esservi riammesso soltanto quando siano cessate le cause che abbiano
    determinato l'esclusione.</p>

<h2>ORGANI DELL'ASSOCIAZIONE</h2>

<p>Art. 14 - Sono organi dell'associazione:</p>

<ol type="a">
    <li>l'Assemblea degli associati;</li>
    <li>il Consiglio Direttivo;</li>
    <li>il Presidente;</li>
    <li>il Direttore;</li>
    <li>il Collegio dei Revisori dei conti;</li>
</ol>
<p>Art. 15 - L'Assemblea è composta da tutti gli associati, rappresenta
    l'universalità degli stessi e le sue deliberazioni, prese in conformità
    della legge e del presente statuto, vincolano tutti gli associati anche
    se assenti o dissenzienti.<br>
    Ogni associato avente diritto di voto può farsi rappresentare da altro
    associato avente analogo diritto di voto mediante delega scritta. Ogni
    associato non può essere portatore di più di 3 (tre) deleghe.<br>
    Nell'assemblea ciascun associato ha diritto ad un voto.</p>

<p>Art. 16 - L'assemblea degli associati deve essere convocata dal
    Consiglio Direttivo almeno una volta all'anno entro il 30 aprile per
    l'approvazione del bilancio consuntivo e preventivo e, quando occorra,
    per la nomina dei Consiglieri e dei Revisori dei conti e per la ratifica
    dell'ammissione di nuovi associati.<br>
    L'assemblea deve inoltre essere convocata ogniqualvolta il Consiglio
    Direttivo ne ravvisi la necessità ovvero ne faccia richiesta motivata
    almeno un decimo degli associati.</p>

<p>Art. 17 - Le assemblee sono convocate con avviso contenente
    l'indicazione del giorno, dell'ora e del luogo dell'adunanza e l'elenco
    delle materie da trattare, comunicato ad ogni associato almeno 15
    (quindici) giorni prima della data fissata.<br>
    L'assemblea può essere convocata anche in luogo diverso dalla sede
    sociale, purché nel territorio della Repubblica Italiana.
    L'avviso di convocazione può altresì fissare la data della seconda
    convocazione.<br>
    E' ammessa la possibilità che le riunioni assembleari si tengano
    per teleconferenza o per videoconferenza, a condizione che tutti i
    partecipanti possano essere identificati e sia loro consentito di
    seguire la discussione e di intervenire in tempo reale alla trattazione
    degli argomenti affrontati.<br>
    Verificandosi questi requisiti, l'assemblea si considera tenuta nel
    luogo in cui si trova il Presidente della riunione e dove pure deve
    trovarsi il Segretario della riunione, onde consentire la redazione e la
    sottoscrizione del relativo verbale.</p>

<p>Art. 18 - Ogni associato, purché maggiorenne se persona fisica, quale
    che sia la categoria di associati a cui appartiene, ha diritto di voto
    per l'approvazione e le modificazioni dello statuto e dei regolamenti e
    per la nomina degli organi direttivi dell'associazione, nonché per la
    ratifica dell'ammissione di nuovi associati.<br>
    Per quanto concerne le maggioranze costitutive e deliberative
    dell'assemblea, si applica l'articolo 21, commi 1 e 3, del Codice
    Civile. Per le modifiche statutarie, in deroga all'articolo 21 comma
    2 del Codice Civile, l'assemblea delibera, in prima convocazione, con
    il voto favorevole della metà più uno degli associati e, in seconda
    convocazione, con il voto favorevole di almeno un terzo degli associati.</p>

<p>Art. 19 - L'assemblea è presieduta dal Presidente o, in caso di sua
    assenza od impedimento, dalla persona eletta dall'assemblea medesima.
    L'assemblea elegge anche un segretario che assiste il presidente.
    Delle riunioni assembleari si redige processo verbale firmato dal
    Presidente e dal segretario.</p>

<p>Art. 20 - L'associazione è retta ed amministrata da un Consiglio
    Direttivo, composto da 5 (cinque) o 7 (sette) membri, scelti tra gli
    associati ordinari o sostenitori, nominati dall'assemblea. Essi durano
    in carica per tre esercizi e sono rieleggibili.<br>
    Il Consiglio Direttivo elegge il Presidente e nomina altresì un
    Direttore che partecipa alle riunioni del Consiglio Direttivo in qualità
    di segretario, e svolge le mansioni di cui all'art. 28.</p>

<p>Art. 21 - Qualora, per qualsiasi causa, vengano a mancare uno o
    più consiglieri, i rimanenti provvedono a sostituirli e convocano
    l'Assemblea per la loro ratifica. In caso di mancata ratifica si
    procederà a nuove elezioni.<br>
    Qualora venga a mancare, per dimissioni, la maggioranza dei consiglieri,
    l'intero Consiglio Direttivo decade dalle sue funzioni e deve procedersi
    alla nomina del nuovo Consiglio Direttivo.</p>

<p>Art. 22 - La carica di consigliere è gratuita, salvi eventuali rimborsi
    per le spese sostenute.</p>

<p>Art. 23 - Il Consiglio Direttivo è convocato con avviso contenente
    l'indicazione del giorno, dell'ora e del luogo dell'adunanza e l'elenco
    delle materie da trattare, comunicato ad ogni consigliere almeno 7
    (sette) giorni prima della data fissata.</p>

<p>Per la validità delle deliberazioni del Consiglio Direttivo è richiesta
    la presenza della maggioranza dei consiglieri e le deliberazioni sono
    prese a maggioranza dei voti.<br>
    Delle deliberazioni del Consiglio Direttivo si redige processo verbale
    firmato dal Presidente e dal segretario.<br>
    E' ammessa la possibilità che le riunioni del Consiglio Direttivo si
    tengano per teleconferenza o per videoconferenza, a condizione che tutti
    i partecipanti possano essere identificati e sia loro consentito di
    seguire la discussione e di intervenire in tempo reale alla trattazione
    degli argomenti affrontati.<br>
    Verificandosi questi requisiti, la riunione si considera tenuto nel
    luogo in cui si trova il Presidente della riunione e dove pure deve
    trovarsi il Segretario della riunione, onde consentire la trascrizione e
    la sottoscrizione del relativo verbale nel libro verbali.</p>

<p>Art. 24 - E' fatto obbligo ai consiglieri di partecipare alle riunioni
    del Consiglio Direttivo. Qualora un consigliere non dovesse partecipare
    a tre riunioni consecutive senza giustificato motivo, sarà considerato
    dimissionario.</p>

<p>Art. 25 - Il Consiglio Direttivo si riunisce tutte le volte che il
    Presidente lo ritenga necessario ovvero ne sia fatta richiesta dalla
    maggioranza dei suoi componenti.<br>
    Le riunioni del Consiglio Direttivo sono presiedute dal Presidente o, in
    caso di sua assenza od impedimento, da altro consigliere nominato dai
    presenti.</p>

<p>Art. 26 - Il Consiglio Direttivo è investito dei più ampi poteri per la
    gestione ordinaria e straordinaria dell'associazione, compresi fra gli
    altri quelli di:</p>

<ol type="a">
    <li>assicurare il conseguimento degli scopi dell'associazione;</li>
    <li>convocare l'assemblea;</li>
    <li>deliberare sull'ammissione di nuovi associati, proponendone la
        ratifica all'assemblea, ed adottare i provvedimenti di esclusione;</li>
    <li>redigere i bilanci preventivo e consuntivo;</li>
    <li>emanare regolamenti e norme per l'organizzazione ed il funzionamento
        dell'associazione;</li>
    <li>acquistare ed alienare beni mobili ed immobili, accettare eredità
        e legati, assumere obbligazioni anche cambiarie e stipulare mutui
        anche ipotecari, fare qualsiasi operazione presso il Debito Pubblico
        e la Cassa Depositi e Prestiti, le banche ed ogni ufficio pubblico e
        privato, stipulare ed utilizzare aperture di credito e finanziamenti
        di ogni tipo, concedere ipoteche e consentire surroghe, postergazioni,
        cancellazioni e restrizioni nonché rinunciare alle stesse, promuovere
        azioni giudiziarie di ogni tipo ed in ogni grado, fare compromessi e
        transigere, nominare arbitri, anche amichevoli compositori, procuratori
        speciali, consulenti e periti, stabilendo il corrispettivo delle
        relative prestazioni;</li>
    <li>determinare l'impiego dei mezzi finanziari e delle risorse
        dell'associazione;</li>
    <li>stabilire l'ammontare delle quote associative per i singoli esercizi;</li>
    <li>deliberare su qualsiasi questione che non sia dalla legge o dal
        presente statuto espressamente rimessa alla competenza dell'assemblea.</li>
</ol>
<p>Art. 27 - Il Presidente rappresenta legalmente l'associazione nei
    confronti dei terzi ed in giudizio, dura in carica tre esercizi ed è
    rieleggibile.<br>
    Il Presidente presiede l'assemblea, convoca e presiede le riunioni
    del Consiglio Direttivo, ne cura l'esecuzione delle deliberazioni e,
    inoltre, assolve normalmente le funzioni di coordinatore dei lavori
    dell'associazione.</p>

<p>Art. 28 - Il Direttore nominato svolge funzioni di ordinaria
    amministrazione dell'associazione, quali, in via esemplificativa:</p>

<ol type="a">
    <li>dirigere ed organizzare gli uffici amministrativi dell'Associazione,
        con funzioni eminentemente operative e di supporto tecnico;</li>
    <li>coordinare ed armonizzare l'operato dei diversi organi dell'Associazione;</li>
    <li>controllare gli adempimenti ordinari connessi alla vita dell'Associazione;</li>
    <li>curare i rapporti dell'Associazione con gli uffici pubblici e privati,
        ed in particolare con gli istituti di credito, nei confronti dei quali
        il Direttore avrà la firma sociale relativamente agli atti di ordinaria
        amministrazione.</li>
</ol>
<p>Per il compimento degli atti connessi allo svolgimento delle sue
    funzioni, il Direttore ha la firma sociale.</p>

<p>Art. 29 - Il Collegio dei Revisori dei conti è composto da un Presidente
    e da due membri nominati dall'assemblea anche tra persone non associate.
    Ad essi spetta il compito:</p>

<ol type="a">
    <li>di controllare la gestione contabile dell'associazione e
        di effettuare, in qualsiasi momento, gli accertamenti di cassa;</li>
    <li>di redigere collegialmente la relazione sui bilanci preventivo e
        consultivo da presentare all'assemblea;</li>
    <li>di vigilare e controllare che siano osservate le norme statutarie;</li>
    <li>di decidere sui ricorsi contro i provvedimenti di esclusione degli
        associati e per la riammissione degli stessi e sulle controversie
        sottoposte al loro giudizio.</li>
</ol>
<p>La carica di revisore è inconciliabile con quella di consigliere, ha la
    durata di tre esercizi ed è rinnovabile.<br>
    I revisori dei conti partecipano all'assemblea che approva il bilancio
    e possono, su loro richiesta, assistere alle riunioni del Consiglio
    Direttivo.</p>

<h2>BILANCIO ED UTILI</h2>

<p>Art. 30 - L'esercizio sociale si chiude al 31 dicembre di ogni anno.
    Alla fine di ciascun esercizio il Consiglio Direttivo procederà alla
    redazione del bilancio da presentare per l'approvazione, unitamente al
    programma dell'attività per il nuovo esercizio ed al preventivo delle
    spese, all'assemblea da convocarsi entro quattro mesi dalla chiusura
    dell'esercizio.<br>
    Dalla data dell'avviso di convocazione, bilancio e programma verranno
    depositati presso la sede dell'associazione a disposizione degli
    associati che intendessero consultarli.</p>

<p>Art. 31 - E' vietata la distribuzione, anche in modo indiretto, di utili
    od avanzi di gestione nonché di fondi, riserve o capitale durante la
    vita dell'associazione, salvo che la destinazione o la distribuzione non
    siano imposti dalla legge.</p>

<h2>SCIOGLIMENTO</h2>

<p>Art. 32 - L'associazione si scioglie, oltre che per le cause previste
    dalla legge, nel caso in cui il numero degli associati si riduca a meno
    di cinque.<br>
    In caso di scioglimento dell'associazione, l'assemblea nominerà uno
    o più liquidatori che provvederanno alla liquidazione del patrimonio
    secondo le norme di legge.<br>
    Nel caso di impossibilità di regolare costituzione dell'assemblea,
    ciascuno dei membri del Consiglio Direttivo potrà chiedere all'autorità
    competente la nomina del o dei liquidatori.<br>
    Quanto residuerà una volta esaurita la liquidazione, verrà devoluto ad
    altra associazione con finalità analoghe o a fini di pubblica utilità
    scelti dai liquidatori in base alle indicazioni fornite dall'assemblea.</p>

<h2>COMUNICAZIONI</h2>

<p>Art. 33 - In ragione della natura marcatamente telematica e
    geograficamente dispersa dell'associazione, che richiede l'uso
    prevalente di efficaci mezzi di comunicazione a distanza, ed allo scopo
    di favorire l'operatività interna, ai fini del presente statuto, e salvo
    ove diversamente specificato, per "comunicazione scritta" si intende
    lettera raccomandata, fax, messaggio di posta elettronica o altro
    mezzo che comunque consenta l'identificazione certa del mittente e la
    conoscibilità del contenuto da parte del destinatario e che tale risulti
    definito nel regolamento interno.</p>

<h2>DISPOSIZIONE FINALE</h2>

<p>Art. 34 - Per quanto non previsto dal presente statuto si applicano le
    norme di legge vigenti in materia di associazioni.</p>

<p>Firmato:<br>
    Carlo Strozzi<br>
    Carlo Brunetti notaio (L.S.)</p>
